---
import { Image } from 'astro:assets';
import ArticleMetadata from '../../components/site/ArticleMetadata.astro';
import PrevNextNavigation from '../../components/site/PrevNextNavigation.astro';
import type { LinkT, SectionNavigationT } from '../../lib/types';
import BaseLayout from '../site/BaseLayout.astro';

interface Props {
  readonly pageTitle: string;
  readonly title: string;
  readonly pubDate: Date;
  readonly author: string;
  readonly description: string;
  readonly tags: Array<string>;
  readonly lastModified: string;
  readonly image?: ReturnType<typeof Image>;
  readonly breadcrumbs?: ReadonlyArray<LinkT>;
  readonly sectionNavigation?: SectionNavigationT | undefined;
}

const { pageTitle, title, description, lastModified, image, breadcrumbs, sectionNavigation } = Astro.props;
---

<BaseLayout pageTitle={pageTitle} breadcrumbs={breadcrumbs}>
  <section id="content" class="content w-full mx-6 md:mx-auto mt-2 md:mt-6 mb-12">
    <article>
      <h1 set:html={title} />
      <ArticleMetadata {...Astro.props} lastModified={lastModified} />
      {
        image ? (
          <div class="text-center">
            <Image src={image.src} alt={image.alt} />
          </div>
        ) : undefined
      }
      <hr />
      <p class="attention-grabber">{description}</p>
      <slot />
      <hr class="mt-10" />
      <div class="article-footer mt-16">
        {
          sectionNavigation ? (
            <PrevNextNavigation prev={sectionNavigation.prev} next={sectionNavigation.next} />
          ) : undefined
        }
      </div>
    </article>
  </section>
</BaseLayout>

<style>
  .attention-grabber {
    @apply font-serif font-semibold;
  }
</style>
