---
import type { CollectionEntry } from 'astro:content';
import BlogPostIndexItem from '../../components/blog/BlogPostIndexItem.astro';
import type { BlogCollection } from '../../lib/collections';
import { itemIconLookup } from '../../lib/collections/helpers';
import type { LinkT } from '../../lib/types';
import BaseLayout from '../site/BaseLayout.astro';

interface Props {
  readonly pageTitle: string;
  readonly intro: string;
  readonly collection: BlogCollection;
  readonly posts: Array<CollectionEntry<BlogCollection>>;
  readonly itemIconName?: string;
  readonly titleIconName?: string;
  readonly breadcrumbs?: ReadonlyArray<LinkT>;
}

const { pageTitle, breadcrumbs, intro, collection, posts, itemIconName, titleIconName } = Astro.props;
const TitleIcon = itemIconLookup(titleIconName);
---

<BaseLayout pageTitle={pageTitle} breadcrumbs={breadcrumbs}>
  <section id="content" class="content grow w-full mx-6 md:mx-auto mt-2 md:mt-16 mb-4">
    <h1>
      <span class="separator inline-block mb-[-0.40rem] pr-0"><TitleIcon size="36" /></span>
      {pageTitle}
    </h1>
    <p class="mb-12">{intro}</p>
    <nav class="my-6 md:my-16 not-prose">
      {posts.map((post) => <BlogPostIndexItem collection={collection} post={post} itemIconName={itemIconName} />)}
    </nav>
  </section>
</BaseLayout>
