---
import { itemIconLookup, itemTextClassLookup } from '../../lib/collections/helpers';
import type { TagLinkT } from '../../lib/collections/tags';
import TagLink from './TagLink.astro';

interface Props {
  readonly tag: TagLinkT;
  readonly total: number;
  readonly itemIconName?: string | undefined;
}

const { tag, itemIconName } = Astro.props;
const ItemIcon = itemIconLookup(itemIconName);
const textClass = itemTextClassLookup(itemIconName);
// const factor = Math.round((1 + tag.count / total) * 100 * 1.2);
// const linkClassName = `text-[${factor}%]`;
---

<div class={`inline-block mt-0 mb-3 mr-3 font-sans bg-kdd-nav px-3 pt-1 pb-2 pr-4 rounded-xl`}>
  <TagLink url={tag.link.url} title={tag.link.title} Icon={ItemIcon} textClass={textClass} />
</div>
