---
import { itemIconLookup, itemTextClassLookup } from '../../lib/collections/helpers';
import type { LinkT } from '../../lib/types';
import { TITLE_ICON_SIZE } from '../../scripts/consts';
import BaseLayout from './BaseLayout.astro';

interface Props {
  readonly pageTitle: string;
  readonly breadcrumbs?: ReadonlyArray<LinkT> | undefined;
  readonly titleIconName?: string | undefined;
}

const { pageTitle, breadcrumbs, titleIconName } = Astro.props;
const TitleIcon = itemIconLookup(titleIconName);
const textClass = itemTextClassLookup(titleIconName);
---

<BaseLayout pageTitle={pageTitle} breadcrumbs={breadcrumbs}>
  <section id="page-content" class="content content-wrapper">
    <h1>
      {
        TitleIcon ? (
          <span class={`separator inline-block mb-[-0.40rem] pr-0 ${textClass}`}>
            <TitleIcon size={TITLE_ICON_SIZE} />
          </span>
        ) : undefined
      }
      {pageTitle}
    </h1>
    <slot />
  </section>
</BaseLayout>
