---
import type { CollectionEntry } from 'astro:content';
import type { MoonlightProjectNavigationItem } from '../../lib/moonlight';
import type { MoonlightCollection } from '../../lib/moonlight/config';
import type { DepthGroupT } from '../../lib/moonlight/navigation';
import { NavigationPanelBreakpoint, NavigationPanelDirection } from '../../scripts/consts';
import NavigationLink from '../site/NavigationLink.astro';
import NavigationPanel from '../site/NavigationPanel.astro';

interface Props {
  readonly projectRootEntry: CollectionEntry<MoonlightCollection>;
  readonly projectNavigation: DepthGroupT<MoonlightProjectNavigationItem>;
}

const { projectNavigation, projectRootEntry } = Astro.props;
const urlPathSlug = Astro.url.pathname;
const navLinksSelectedLookup = projectNavigation.map(
  (item, i) => (urlPathSlug.length === 0 && i == 0) ||  Array.isArray(item) ? false : urlPathSlug === item.entry.slug
);
const isProjectRoot = urlPathSlug === projectRootEntry.slug;
---

<NavigationPanel
  navId="content-navigation"
  breakpoint={NavigationPanelBreakpoint.MD}
  panelDir={NavigationPanelDirection.LEFT}
  class="h-full md:w-1/5 lg:w-3/12 overflow-hidden pt-6 md:pt-0 pb-3 pl-8 pr-6 lg:pr-0 bg-color-bg-light dark:bg-color-bg-dark"
>
  <nav>
    <ul>
      <li>
        <NavigationLink url={projectRootEntry.slug} title={projectRootEntry.data.title} selected={isProjectRoot} />
      </li>
      {
        projectNavigation.map((x, i) => (
          <li>
            <NavigationLink url={Array.isArray(x) ? 'ARR1' : x.entry.slug} title={Array.isArray(x) ? 'ARR2' : x.entry.data.title} selected={!!navLinksSelectedLookup[i]} />
          </li>
        ))
      }
    </ul>
  </nav>
</NavigationPanel>

<style is:global>
  #content-navigation nav a.selected::before {
    content: '> ';
  }
</style>
