---
import type { MoonlightProjectNavigationItem } from '../../lib/moonlight';
import type { DepthGroupT } from '../../lib/moonlight/navigation';
import { NavigationPanelBreakpoint, NavigationPanelDirection } from '../../scripts/consts';
import NavigationPanel from '../site/NavigationPanel.astro';
import ContentLink from './ContentLink.astro';
import ContentLinkList from './ContentLinkList.astro';

interface Props {
  readonly projectNavigation: DepthGroupT<MoonlightProjectNavigationItem>;
}

const { projectNavigation } = Astro.props;
const selectedUrlPathSlug = Astro.url.pathname;
---

<NavigationPanel
  navId="content-navigation"
  breakpoint={NavigationPanelBreakpoint.MD}
  panelDir={NavigationPanelDirection.LEFT}
  class="h-full md:w-1/5 lg:w-3/12 overflow-hidden pt-6 md:pt-0 pb-3 pl-8 pr-6 lg:pr-0 bg-color-bg-light dark:bg-color-bg-dark"
>
  <nav>
    <ul>
      {
        projectNavigation.map((x) =>
          Array.isArray(x) ? (
            <ul>
              <ContentLinkList list={x} selectedUrlPathSlug={selectedUrlPathSlug} />
            </ul>
          ) : (
            <li>
              <ContentLink item={x} selectedUrlPathSlug={selectedUrlPathSlug} />
            </li>
          )
        )
      }
    </ul>
  </nav>
</NavigationPanel>

<style is:global>
  #content-navigation nav a.selected::before {
    content: '> ';
  }
</style>
