---
import type { MarkdownHeading } from 'astro';
import type { DepthGroupT } from '../../lib/moonlight/types';
import { NavigationPanelBreakpoint, NavigationPanelDirection } from '../../scripts/consts';
import NavigationPanel from '../site/NavigationPanel.astro';
import IntraPageLink from './IntraPageLink.astro';
import IntraPageLinkList from './IntraPageLinkList.astro';

interface Props {
  readonly headingGroups: DepthGroupT<MarkdownHeading>;
}

const { headingGroups } = Astro.props;
---

<NavigationPanel
  navId="intra-page-navigation"
  breakpoint={NavigationPanelBreakpoint.LG}
  panelDir={NavigationPanelDirection.RIGHT}
  class="max-h-[85%] lg:max-h-full overflow-x-clip overflow-y-auto overscroll-none px-6 pt-6 lg:pt-0 pb-16 lg:w-3/12 lg:min-w-[14rem] bg-color-bg-light dark:bg-color-bg-dark"
>
  <nav>
    <ul>
      {
        headingGroups.map((x) =>
          Array.isArray(x) ? (
            <ul>
              <IntraPageLinkList list={x} />
            </ul>
          ) : (
            <li>
              <IntraPageLink url={x.slug} title={x.text} />
            </li>
          )
        )
      }
    </ul>
  </nav>
</NavigationPanel>
