---
import type { CollectionEntry } from 'astro:content';
import { itemIconLookup } from '../../lib/collections/helpers';
import type { MoonlightCollection } from '../../lib/moonlight/config';
import { ITEM_ICON_SIZE } from '../../scripts/consts';
import ArticleMetadata from '../site/ArticleMetadata.astro';
import ReadMoreLink from '../site/ReadMoreLink.astro';

interface Props {
  readonly item: CollectionEntry<MoonlightCollection>;
  readonly itemIconName?: string | undefined;
}

const { item, itemIconName } = Astro.props;
const ItemIcon = itemIconLookup(itemIconName);
const href = `/${item.collection}/${item.slug}`;
---

<article
  class={[
    'relative',
    'project-post',
    'index-item',
    'mb-6',
    'pt-8',
    'pb-1',
    'px-8',
    'min-h-32',
    'border-b-4',
    'border-gray-300',
    'dark:border-gray-500',
    itemIconName,
  ].join(' ')}
>
  <div class="wrapper pb-2">
    {
      ItemIcon ? (
        <span class="separator absolute top-0 right-0 inline-block px-3 py-3 bg-kdd">
          <ItemIcon size={ITEM_ICON_SIZE} />
        </span>
      ) : undefined
    }
    <h2 class="mb-5 font-sans font-normal text-xl pr-8">
      <a href={href} class="block pt-1 md:pt-0">{item.data.title}</a>
    </h2>
    <p class="abstract mb-3 font-serif">
      {item.data.description}
    </p>
    <ReadMoreLink href={href} />
    <ArticleMetadata tags={item.data.tags} />
  </div>
</article>

<style>
  article.project-post {
    /* @apply 'bg-gray-200'; */
    background-color: rgb(229 231 235);
  }
  article.project-post h2 a {
    text-decoration: none;
    color: var(--kdd-color-heading);
  }
  article.project-post h2 a:hover {
    text-decoration: underline;
  }

  article.project-post.blog,
  article.project-post.til {
    @apply bg-kdd-blog;
  }
  article.project-post.blog .separator,
  article.project-post.til .separator {
    @apply text-kdd-blog;
  }

  article.project-post.project,
  article.project-post.projects {
    @apply bg-kdd-project;
  }
  article.project-post.project .separator,
  article.project-post.projects .separator {
    @apply text-kdd-project;
  }
</style>
