---
import { Menu, PanelTopClose } from 'lucide-astro';
import { getUrlPathParts } from '../../lib';
import type { LinkT } from '../../lib/types';
import { NavigationPanelBreakpoint, NavigationPanelDirection } from '../../scripts/consts';
import NavigationPanel from './NavigationPanel.astro';
import NavigationToggle from './NavigationToggle.astro';
import ThemeModeToggle from './ThemeModeToggle.astro';

// How to use tailwind vars for width, colors, fonts?
const navLinks: ReadonlyArray<LinkT> = [
  { url: '/', title: 'Home' },
  { url: '/projects/', title: 'Projects' },
  { url: '/til/', title: 'TIL' },
  { url: '/tags/', title: 'Tags' },
  { url: '/about/', title: 'About' },
];

const urlPathParts = getUrlPathParts(Astro.url);
const navLinksSelectedLookup = navLinks.map(
  (link, i) => (urlPathParts.length === 0 && i == 0) || urlPathParts[0] === link.url.replaceAll('/', '')
);
---

<NavigationToggle
  navId="main-navigation"
  breakpoint={NavigationPanelBreakpoint.MD}
  class="absolute top-6 right-6 z-50"
  CloseIcon={PanelTopClose}
  OpenIcon={Menu}
/>

<NavigationPanel
  navId="main-navigation"
  breakpoint={NavigationPanelBreakpoint.MD}
  panelDir={NavigationPanelDirection.TOP}
  class="main-navigation w-full h-full md:h-auto pr-0 md:pr-6 mt-[6.5rem] md:mt-0 opacity-100 md:opacity-100 hidden md:block fixed md:relative font-sans bg-kdd-nav md:bg-transparent dark:md:bg-transparent"
>
  <nav class="nav-links flex flex-col md:flex-row md:justify-end z-30">
    {
      navLinks.map((link, idx) => (
        <a href={link.url} class={navLinksSelectedLookup[idx] ? 'nav-link selected' : 'nav-link'}>
          {link.title}
        </a>
      ))
    }
    <ThemeModeToggle navId="theme-mode-toggle-main-nav" initLightMode={true} class="block md:hidden my-12 mx-auto" />
  </nav>
</NavigationPanel>

<style>
  .main-navigation .nav-links a,
  .main-navigation .nav-links a:visited {
    @apply block md:inline-block min-w-[8rem] mx-[0.025rem] p-[0.4rem] text-center border-gray-400 dark:border-gray-500 border border-t-0 border-l-0 border-r-0 md:border-l text-kdd-link bg-kdd-nav;
  }
  .main-navigation .nav-links a.nav-link:first-of-type {
    @apply border-t md:border-t-0;
  }
  .main-navigation .nav-links a.nav-link:last-of-type {
    @apply md:border-r;
  }
  .main-navigation .nav-links a.selected,
  .main-navigation .nav-links a:hover {
    @apply bg-konker-flash-blue-dark dark:bg-konker-flash-blue-dark text-white dark:text-white no-underline;
  }
</style>
