---
import { NavigationPanelBreakpoint, NavigationPanelDirection } from '../../scripts/consts';

interface Props {
  readonly navId: string;
  readonly panelDir: NavigationPanelDirection;
  readonly breakpoint: NavigationPanelBreakpoint;
  readonly class: string;
}

const panelDirClassNamesLookup: Record<NavigationPanelDirection, string> = {
  [NavigationPanelDirection.TOP]: 'navigation-panel-top top-0',
  [NavigationPanelDirection.LEFT]: 'navigation-panel-left left-0',
  [NavigationPanelDirection.RIGHT]: 'navigation-panel-right right-0',
  [NavigationPanelDirection.BOTTOM]: 'navigation-panel-bottom bottom-0',
};

const { navId, panelDir, breakpoint, class: classNames } = Astro.props;
const toggleId = `${navId}-toggle`;
const panelFunctionalClassNames = `noscript navigation-panel ${breakpoint} w-full h-full hidden ${breakpoint}:block fixed ${breakpoint}:static z-30`;
const panelClassNames = classNames + ' ' + panelFunctionalClassNames + ' ' + panelDirClassNamesLookup[panelDir];
---

<div id={navId} class={panelClassNames}>
  <input id={toggleId} class="navigation-toggle" type="checkbox" />
  <label for={toggleId} class="navigation-toggle-overlay hidden"></label>

  <slot />
</div>
