---
import { NavigationPanelBreakpoint } from '../../scripts/consts';
interface Props {
  readonly navId: string;
  readonly breakpoint: NavigationPanelBreakpoint;
  readonly class: string;
  readonly CloseIcon: Function;
  readonly OpenIcon: Function;
}

const { navId, breakpoint, class: classNames, CloseIcon, OpenIcon } = Astro.props;

const functionalClassNamesLabel = `${breakpoint}:hidden`;
const classNamesLabel = classNames + ' navigation-toggle-label ' + functionalClassNamesLabel;
const toggleId = `${navId}-toggle`;
const labelId = `${navId}-label`;
---

<label for={toggleId} id={labelId} class={classNamesLabel}>
  <CloseIcon class="close-icon hidden" size="28" />
  <OpenIcon class="open-icon" size="28" />
</label>

<style>
  .navigation-toggle-label {
    cursor: pointer;
  }
</style>
