---
import {
  NAVIGATION_PANEL_ICON_CLASS_HIDDEN,
  NAVIGATION_PANEL_ICON_CLASS_VISIBLE,
  NavigationPanelBreakpoint,
} from '../../scripts/consts';
interface Props {
  readonly navId: string;
  readonly breakpoint: NavigationPanelBreakpoint;
  readonly class: string;
  readonly isAbsolute?: boolean;
  readonly CloseIcon: Function;
  readonly OpenIcon: Function;
}

const { navId, breakpoint, class: classNames, isAbsolute, CloseIcon, OpenIcon } = Astro.props;

const functionalClassNamesLabel = `w-[28px] h-[28px] ${breakpoint}:hidden` + (!!isAbsolute ? ' ' : ' relative');
const classNamesLabel = classNames + ' navigation-toggle-label ' + functionalClassNamesLabel;

const classNamesCloseIcon = `close-icon absolute top-0 left-0 transition-all duration-0 delay-200 ${NAVIGATION_PANEL_ICON_CLASS_HIDDEN}`;
const classNamesOpenIcon = `open-icon absolute top-0 left-0 transition-all duration-700 delay-0 ${NAVIGATION_PANEL_ICON_CLASS_VISIBLE}`;

const toggleId = `${navId}-toggle`;
const labelId = `${navId}-label`;
---

<label for={toggleId} id={labelId} class={classNamesLabel}>
  <CloseIcon class={classNamesCloseIcon} size="28" />
  <OpenIcon class={classNamesOpenIcon} size="28" />
</label>

<style is:global>
  input.navigation-toggle {
    display: none;
    position: absolute;
    top: 0;
  }
  .navigation-toggle-label {
    cursor: pointer;
  }
</style>
