---
import type { MoonlightSubCollectionNavigationItem } from '../../lib/moonlight/types';

interface Props {
  readonly item: MoonlightSubCollectionNavigationItem;
  readonly selectedUrlPathSlug: string;
  readonly titleOverride?: string | undefined;
}

const { item, selectedUrlPathSlug, titleOverride } = Astro.props;
const url = `${item.collectionRootPagesPath}/${item.entry.id}`;
const title = titleOverride ?? item.entry.data.title;
const classNames = selectedUrlPathSlug.endsWith(item.entry.id) ? 'nav-link selected' : 'nav-link';
---

{
  !item.entry.data.navigable ? (
    title
    ) : (
  <a class={classNames} href={`${url}`}>
    {title}
  </a>
    )
  }
