---
import type { CollectionEntry } from 'astro:content';
import type { BlogCollection, TagCollection } from '../../lib/collections';
import { itemIconLookup } from '../../lib/collections/helpers';
import ArticleMetadata from './ArticleMetadata.astro';

interface Props {
  readonly collection: BlogCollection | TagCollection;
  readonly post: CollectionEntry<BlogCollection | TagCollection>;
  readonly itemIconName?: string | undefined;
}

const { collection, post, itemIconName } = Astro.props;
const ItemIcon = itemIconLookup(itemIconName);
---

<article
  class={[
    'blog-post',
    'index-item',
    'mb-6',
    'pt-6',
    'pb-1',
    'px-6',
    'min-h-32',
    'rounded-t-lg',
    'rounded-b-xl',
    'border-b-4',
    'border-gray-300',
    'dark:border-gray-500',
    itemIconName,
  ].join(' ')}
>
  <div class="wrapper pb-2">
    <h2 class="mt-0 mb-5 font-sans text-lg bg-kdd-nav py-2 pl-1 pr-6 rounded-md">
      <span class="separator float-left inline-block mb-[-0.40rem] px-1"><ItemIcon size="28" /></span>
      <a href=`/${collection}/${post.slug}` class="block pl-[36px]">{post.data.title}</a>
    </h2>
    <p class="abstract mb-6 font-serif">{post.data.description}</p>
    <ArticleMetadata tags={post.data.tags} />
  </div>
</article>

<style>
  article.blog-post {
    /* @apply 'bg-gray-200'; */
    background-color: rgb(229 231 235);
  }

  article.blog-post.blog,
  article.blog-post.til {
    @apply bg-kdd-blog;
  }

  article.blog-post.project,
  article.blog-post.projects {
    @apply bg-kdd-project;
  }
</style>
