---
import { FileText, FolderUp } from 'lucide-astro';
import type { SectionNavigationT } from '../../lib/types';

interface Props {
  readonly sectionNavigation?: SectionNavigationT | undefined;
}
const { sectionNavigation } = Astro.props;
---

<nav class="sectionNavigationLong w-full mb-0 bg-kdd-nav py-2 px-4 font-sans">
  <p class="prev m-1">
    {
      sectionNavigation?.prev ? (
        <span class="breadcrumb inline-block">
          <span class="separator inline-block mb-[-0.20rem] px-2 font-serif">
            <FileText size="16" />
          </span>
          <a href={sectionNavigation.prev.url}>{sectionNavigation.prev.title}</a>
        </span>
      ) : undefined
    }
  </p>
  <p class="next m-1">
    {
      sectionNavigation?.next ? (
        <span class="breadcrumb inline-block">
          <span class="separator inline-block mb-[-0.20rem] px-2 font-serif">
            <FileText size="16" />
          </span>
          <a href={sectionNavigation.next.url}>{sectionNavigation.next.title}</a>
        </span>
      ) : undefined
    }
  </p>
  <p class="index m-1">
    {
      sectionNavigation?.index ? (
        <span class="breadcrumb inline-block">
          <span class="separator inline-block mb-[-0.20rem] px-2 font-serif">
            <FolderUp size="16" />
          </span>
          <a href={sectionNavigation.index.url}>All Posts</a>
        </span>
      ) : undefined
    }
  </p>
</nav>

<style>
  .sectionNavigationLong a:visited {
    color: var(--kdd-color-link);
  }
</style>
