---
import type { LinkT } from '../lib/types';
import BaseLayout from './BaseLayout.astro';
import ArticleMetadata from './../components/ArticleMetadata.astro';
import { TagCollection } from '../lib/collections';
import { CollectionEntry } from 'astro:content';
import { itemIconLookup } from '../lib/collections/helpers';
import ArticleMetadata from '../components/ArticleMetadata.astro';

export type Props = {
  readonly pageTitle: string;
  readonly intro: string;
  readonly links: Array<LinkT>;
  readonly itemIconName?: string;
  readonly titleIconName?: string;
  readonly breadcrumbs?: ReadonlyArray<LinkT>;
}

const { pageTitle, breadcrumbs, intro, links, itemIconName, titleIconName } = Astro.props
const ItemIcon = itemIconLookup(itemIconName);
const TitleIcon = itemIconLookup(titleIconName);
---
<BaseLayout pageTitle={pageTitle} breadcrumbs={breadcrumbs}>
  <section id="content" class="grow w-full mr-auto ml-auto mt-2 mb-4 prose">
    <nav class="links my-6 mx-6 md:my-16 md:mx-6">
      <h1>
        <span class="separator inline-block mb-[-0.40rem] pr-0"><TitleIcon size="48"/></span>
        {pageTitle}
      </h1>
      <p class="mb-12" set:html={intro}></p>
      {links.map(link =>
          <div class="wrapper">
            <h2 class="mt-0 mb-3 font-sans text-lg bg-white py-2 px-3 rounded-lg">
              <span class="separator inline-block mb-[-0.40rem] pr-1"><ItemIcon size="28"/></span>
              <a href={link.url}>{link.title}</a>
            </h2>
          </div>
      )}
    </nav>
  </section>
</BaseLayout>

<style>
  .links a,
  .links a:visited {
    color: #00a;
  }
</style>
