---
import type { LinkT, TagEntryT } from '../lib/types';
import BaseLayout from './BaseLayout.astro';
import ArticleMetadata from './../components/ArticleMetadata.astro';
import { TagCollection } from '../lib/collections';
import { CollectionEntry } from 'astro:content';
import { itemIconLookup } from '../lib/collections/helpers';
import ArticleMetadata from '../components/ArticleMetadata.astro';
import BlogPostIndexItem from '../components/BlogPostIndexItem.astro';

export type Props = {
  readonly pageTitle: string;
  readonly intro: string;
  readonly tagEntries: Array<TagEntryT<TagCollection>>;
  readonly itemIconName?: string;
  readonly titleIconName?: string;
  readonly breadcrumbs?: ReadonlyArray<LinkT>;
}

const { pageTitle, breadcrumbs, intro, tagEntries, itemIconName, titleIconName } = Astro.props
const TitleIcon = itemIconLookup(titleIconName);
---
<BaseLayout pageTitle={pageTitle} breadcrumbs={breadcrumbs}>
  <section id="content" class="grow w-full mr-auto ml-auto mt-2 mb-4 prose">
    <nav class="my-6 mx-6 md:my-16 md:mx-6">
      <h1>
        <span class="separator inline-block mb-[-0.40rem] pr-0"><TitleIcon size="48"/></span>
        {pageTitle}
      </h1>
      <p class="mb-12">{intro}</p>
      {tagEntries.map(tagEntry =>
        <BlogPostIndexItem collection={tagEntry.collection} post={tagEntry.entry} itemIconName={tagEntry.collection} />
      )}
    </nav>
  </section>
</BaseLayout>

